/* hero  */
.product-hero p {
  font-weight: 500;
}

.product-hero p a {
  text-decoration: none;
}

.hero-h2 {
  font-size: 1.2rem;
}

.hero-para {
  font-size: 0.9rem;
}

/* section  */

.right-section-img {
  width: 100%;
}

.left-section-img {
  width: 90%;
}

.product-section-content h1 {
  font-size: 2rem;
}

.product-section-content p {
  font-size: 0.9rem;
  margin-bottom: 1.3rem;
}

.link-one a {
  margin-right: 4rem;
  text-decoration: none;
  font-size: 0.9rem;
}

.link-two a {
  margin-right: 1.2rem;
}

.final-para {
  font-size: 0.85rem;
}

.universe-heading{
    font-size: 2rem;    
}

.universe-row-img img{
    width: 90%;
}

@media (max-width: 767.98px) {
  .left-section-img,
  .right-section-img {
    width: 70%;
  }

  .product-section-content h1 {
    font-size: 1.5rem;
  }

  .link-one a {
    margin-right: 1.5rem;
  }
}

@media (max-width: 575.98px) {
  .hero-h2 {
    font-size: 1rem;
  }

  .universe-heading {
    font-size: 1.5rem;
  }

  .left-section-img,
  .right-section-img {
    width: 90%;
  }
}